
<div class="col-xs-2 top-right">

  <h2 class="yellow-text-2">Sign-In</h2>

  <%= form_tag "/signin", class: "form signup-signin-2" do %>
  <%= label_tag "username:" %><br>
  <%= text_field_tag :username %><br>
  <%= label_tag "password:" %><br>
  <%= password_field_tag :password %><br><br>
  <%= submit_tag "Sign In", :class => "btn btn-default btn-xs" %>
  <% end %>

</div>
