<div class="col-xs-2 top-right">

  <h2 class="yellow-text">Sign-Up</h2>

<%= form_for User.new, html: {class: "form"} do |f| %>
<%= f.label "username:" %><br>
<%= f.text_field :username %><br>
<%= f.label "email:" %><br>
<%= f.text_field :email %><br>
<%= f.label "password:" %><br>
<%= f.password_field :password %><br>
<%= f.label "password confirmation:" %><br>
<%= f.text_field :password_confirmation %><br>
<%= f.submit "Create Account", :class => "btn btn-default" %>
<% end %>
    
</div>
