<!DOCTYPE html>
<html>
<head>
  <title>DivideAndConquer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>

  <%= link_to "Sign Out", signout_path, method: :delete %>

<% else %>

    <%= render "/users/new.html.erb" %>
    <%= render "/sessions/new.html.erb" %>

  <% end %>

<%= yield %>

</body>
</html>
